/* SITE header */
.site-header {
  background-color: white;
}

.main-logo {
  width: 230px;
}
.sitenav-link a{
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
 }

.main-button {
  display: inline-block;
  width: 155px;
  height: 39px;
  font-size: 13px;
  line-height: 15px;
  background-color: #ff7500;
  color: white;
  border-style: none;
  border-radius: 4px;
}

.header-list li{
  display: inline-block;
}

/* SITE HERO */
.hero {
  width: 1440px;
  background-color: #252420;
  color: white;
}
.hero-text {
  width: 390px;
}
.line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  border-style: none;
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.5px;
}
.hero-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
}
.hero-img {
  width: 510px;
  height: 510px;
}
/* SECTION-FUTER */
.features {
  width: 1440px;
  background-color: #FFFFFF;
}
.feature-title {
  width: 435px;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}
.feature-list {
  width: 1100px;
}

.feature-item {
  width: 340px;
}

.feature-list__img {
 background: rgba(255, 117, 0, 0.2);
 width: 100px;
 height: 100px;
}
.feature-icon {
  list-style: none;
}

.feature-list__title {
  width: 170px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.feature-paragraph {
  width: 315px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

  /* ACTION */
.action {
  width: 1100px;
  background-color: #252420;
  color: white;
}

.action-text{
  width: 440px;
}

.action-title {
  font-size: 40px;
  line-height: 48px;
}

.action-paragraph {
  width: 440px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.action-paragraph__bold-text {
  color: #ff7500;
}

.action-img {
  width: 440px;
  height: 440px;
  object-fit: cover;
}
/* FOOTERS */
.footers {
  width: 1440px;
  background: #F8F8F8;
}

.social-network {
  width: 104px;
}
.social-network li{
display: inline-block;
}

.footer-hr {
  width: 1100px;
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
  border-style: none;
}

.footer-links {
  width: 1100px;
}

.footer-link {
  width: 224px;
  list-style-type: none;
}

.footer-link a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252420;
  text-decoration: none;
}