/* SITE header */

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 16px;
  line-height: 1.5;
}

.site-header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #ff7500;
  background-color: white;
}

.main-logo {
  width: 230px;
}

.nav-header-top {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin: 0;
  margin-right: 32px;
  padding: 0;
  list-style-type: none;
}

.sitenav-link {
  margin-right: 32px;
}

.sitenav-link:last-child {
  margin-right: 0;
}

#sitenav-link__header a {
  color: #ff7500;
  text-decoration:underline;
}

.sitenav-link a{
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: color 0.4s ease,
  opacity 0.2s ease,
  font-size 0.4s ease;
 }

.main-button {
  width: 155px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  background-color: #ff7500;
  color: white;
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s ease,
   background-color 0.4s ease,
   font-size 0.4s ease,
  color 0.4s ease;
}



/* SITE HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: white;
}
.hero-text {
  width: 390px;
}
.line {
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  border-style: none;
  margin: 0;
  margin-bottom: 40px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}

.hero-paragraph {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero-img {
  width: 510px;
  height: 510px;
  border-radius: 9px;
}
/* SECTION-FEATURE */
.features {
  padding-top: 210px;
  padding-bottom: 210px;
}
.feature-title {
  width: 440px;
  margin: 0;
  margin-bottom: 72px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5PX;
}
.feature-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.feature-item {
  width: 340px;
  margin-right: 40px;
}

.feature-item:last-child {
  margin-right: 0;
}

.feature-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
}
.feature-icon {
  list-style: none;
}

.feature-list__title {
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}

  /* ACTION */
.action {
  /* width: 1100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252420;
  color: white;
 border-radius: 12px;
}

.action-text, .action-paragraph {
  width: 440px;
  margin: 0;
  margin-bottom: 12px;
}

.action-paragraph:last-child {
  margin-bottom: 0;
}

.section-action__paragraph {
  margin-bottom: 24px;
}
.action-title {
  font-weight: 700;
  margin: 0;
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
  font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;
}


.action-paragraph__bold-text {
  color: #ff7500;
}

.action-img {
  width: 440px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
  }

/* FOOTERS */
.footers {
  padding-top: 56px;
  padding-bottom: 56px;
  background: #F8F8F8;
}

.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-network {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-footer__social a {
  margin-right: 16px;
  color: black;
  transition: color 0.4s ease,
  opacity 0.2s;
}

.footer-hr {
  height: 2px;
  border-style: none;
  margin-top: 40px;
  margin-bottom: 64px;
  background-color: rgba(37, 36, 32, 0.5);
}

.footer-links {
  display: flex;
}

.footer-link {
  width: 224px;
  padding: 0;
  margin: 0;
  margin-right: 68px;
  list-style-type: none;
}

.footer-link:last-child {
  margin-right: 0;
}

.footer-link a {
  line-height: 19px;
  color: #252420;
  text-decoration: none;
  transition: color 0.4s ease,
  opacity 0.2s ease,
  font-size 0.4s ease;
}